<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f4ab54fb-7aab-4a44-bd1a-9d013edd3df2" Version="1.0.0.0" Publisher="CN=dijo.raphael" />
  <Properties>
    <DisplayName>Notes</DisplayName>
    <PublisherDisplayName>Sample Template</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Notes" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Notes" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile WideLogo="images\widelogo.png" ShortName="Notes" ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>