<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="414513dc-0faf-43c4-8835-57d2ea399e69" Version="1.0.0.0" Publisher="CN=pooja.ramesh" />
  <Properties>
    <DisplayName>UnitCalculator</DisplayName>
    <PublisherDisplayName>Sample Template</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="UnitCalculator" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="UnitCalculator" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile WideLogo="images\widelogo.png" ShortName="Unit Calculator" ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>